@import "../../style/themes/default";

$indicator-prefix-cls: #{$ant-prefix}-password-indicator;

//
.#{$indicator-prefix-cls} {
  width: 80px;
  height: 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;

  & > &-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  & > &-text {
    margin-left: 4px;
  }

  & > &-bar > &-item {
    flex: 1;
    background-color: #f3f3f3;

    &:first-child {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        margin-right: 2px;
    }
    &:last-child {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        margin-left: 2px;
    }
  }

  &-3 > &-bar > &-item1,
  &-2 > &-bar > &-item1 {
    background-color: rgba(251, 219, 154, 0.75);
  }

  &-3 > &-bar > &-item2 {
    background-color: rgba(184, 226, 167, 0.75);
  }

  &-3 > &-bar > &-item3 {
    background-color: rgb(137, 205, 109);
  }

  &-2 > &-bar > &-item2 {
    background-color: rgb(184, 226, 167);
  }

  &-1 > &-bar > &-item1 {
    background-color: rgb(251, 219, 154);
  }

}


